{% extends "base.html" %}
{% load static %}

{% block title %} 
All My Posts
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static 'Blog/post.css' %}" />
  <link rel="stylesheet" href="{% static 'Blog/all-posts.css' %}" />
{% endblock %}

{% block content %}
<section id="all-posts">
  <h2>My Collected Posts</h2>

  <ul>
    {% include "Blog/includes/post.html" %}
    {% include "Blog/includes/post.html" %}
    {% include "Blog/includes/post.html" %}
    {% include "Blog/includes/post.html" %}
    {% include "Blog/includes/post.html" %}
    {% include "Blog/includes/post.html" %}
  </ul>
</section>
{% endblock %}