{% extends "base.html" %}
{% load static %}

{% block title %}
    Blog
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Blog/post.css' %}" />
    <link rel="stylesheet" href="{% static 'Blog/index.css' %}">
{% endblock %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'Blog/images/arthur.jpg' %}" alt="Sahil - The Author of this Blog">
            <h2>Bhatia's Blog</h2>
        </header>
        <p>Hi, I am Sahil and I love to blog about tech and the world!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% include "Blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>About Me</h2>
        <p>Hi, I am Sahil and I love to blog about tech and the world!</p>
        <p> My goal is to keep growing as a developer!</p>
    </section>
{% endblock %}